{
    "parser": "babel-eslint",
    "env": {
        "browser": true,
        "es6": true,
        "node": true
    },
    "extends": ["airbnb", "prettier"],
    "plugins": ["prettier", "react"],
    "rules": {
        "no-tabs": 2,
        "no-console": ["error", { "allow": ["warn", "error"] }],
        "prettier/prettier": ["error"],
        "import/no-extraneous-dependencies": 0,
        "react/jsx-filename-extension": 0,
        "indent": [
            "error",
            4,
            {
                "SwitchCase": 1
            }
        ],
        "react/jsx-indent": [2, 4],
        "react/jsx-indent-props": [2, 4]
    }
}
